
#bookingtitle{
    -fx-font-family: 'Salsa-Regular',serif;
    -fx-font-size: 40;
    -fx-text-fill: #E1C8C8;
}




#modifyinput{


    -fx-border-color: black;
    -fx-border-width: 2 2 2 2
}

#tot{

    -fx-font-family: 'Salsa-Regular',serif;
    -fx-font-size: 15;

}

#btnterug{

    -fx-font-family: 'Salsa-Regular',serif;
    -fx-font-size: 20;
    -fx-background-color: #E1C8C8;
    -fx-border-color: black;
    -fx-border-width: 3 3 3 3;



}